/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --primarycolor: #dbd8e0;
  --secondarycolor: #070316;
  --accentcolor1: #47634e;
  --accentcolor2: #c83720;
  --accentcolor3: #cbb92f;
  --font-size: 1.3rem;
  --comm: "Commissioner", sans-serif;
  --fraun: "Fraunces", serif;
  --primaryfont: "Cinzel", serif;
  --secondaryfont: "Josefin Slab", serif;
  --tertiaryfont: "Hind Vadodara", sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--tertiaryfont);
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--accentcolor2);
}
a:hover {
  color: var(--accentcolor3);
  text-decoration: none;
}
img {
  width: 100%;
}

/* Divider lines */
.gradient-footer {
  background: var(--accentcolor2);
  height: 3px;
}

/*Navbar section*/
nav {
  font-family: var(--tertiaryfont);
  font-size: 80%;
  padding: 1rem;
}
nav h1 a {
  font-family: var(--secondaryfont);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  text-align: center;
  flex-basis: 100%;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--accentcolor2);
}
nav .nameicon {
  padding: 8px;
  font-size: 100%;
}
nav a {
  color: var(--secondarycolor);
  text-decoration: none;
  display: block;
}
nav .navbuttontext {
  color: var(--primarycolor);
}
nav a:hover {
  color: var(--accentcolor2);
}
nav [class*="fa-"]:hover {
  color: var(--secondarycolor);
}
nav .button {
  background-color: var(--secondarycolor);
  padding: 0.5rem;
  border-radius: 6px;
}
nav .button:hover {
  background-color: var(--accentcolor2);
}

/* Intro styles */
#intro {
  padding: 4rem 1rem 6rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--tertiaryfont);
  font-weight: 400;
}
#intro .name {
  font-family: var(--tertiaryfont);
  font-weight: 300;
}
.name span {
  font-family: var(--primaryfont);
  font-size: 4rem;
  color: var(--accentcolor2);
  display: block;
}
.mainline {
  font-family: var(--secondaryfont);
}
#intro h2 {
  font-size: 3rem;
}

/* Projects section */
.section-projects {
  background-color: var(--accentcolor1);
  color: var(--primarycolor);
}
@media (min-width: 850px) {
  .section-projects {
    background-color: var(--accentcolor1);
    color: var(--primarycolor);
    border-radius: 13px;
    width: 97%;
    margin: auto;
  }
}
@media (min-width: 1000px) {
  .section-projects {
    background-color: var(--accentcolor1);
    color: var(--primarycolor);
    border-radius: 18px;
    width: 80%;
    margin: auto;
  }
}
.section-projects a {
  color: var(--accentcolor2);
  font-weight: bold;
}
.section-projects a:hover {
  color: var(--accentcolor2);
  text-decoration-line: none;
  font-weight: bolder;
}
#projects {
  padding: 4rem 1rem;
}
#projects h2 {
  font-size: 3rem;
  margin-bottom: calc(2.5rem * 1.5);
  font-family: var(--primaryfont);
  color: var(--primarycolor);
}
#projects h3 {
  color: var(--primarycolor);
  font-family: var(--secondaryfont);
  font-size: 160%;
}
#projects h4 {
  font-size: 1rem;
  margin: 0;
  color: var(--accentcolor3);
  font-weight: bold;
}
.blackbox {
  background-color: var(--primarycolor);
  padding: 1rem;
  border-radius: 13px;
  color: var(--secondarycolor);
  font-size: 1rem;
  line-height: 1.5;
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  font-family: var(--tertiaryfont);
}
#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 2px solid var(--primarycolor);
  border-top: 2px solid var(--primarycolor);
  border-radius: 25px;
  padding: 0.6rem;
  /* width: 80%; */
}
#projects article h2,
h3,
h4 {
  font-size: 150%;
}
#projects article .reverse h2,
h3,
h4 {
  font-size: 150%;
}
@media (min-width: 750px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  #projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }
  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}

/* Contact me section */
.section-contact {
  background-color: var(--primarycolor);
}
.section-contact .button {
  background-color: var(--secondarycolor);
  padding: 0.5rem;
  border-radius: 6px;
}
.section-contact .button:hover {
  background-color: var(--accentcolor2);
}
#contactme {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--secondarycolor);
}
#contactme h2 {
  color: var(--accentcolor2);
  font-family: var(--primaryfont);
  font-size: 200%;
}
#contactme a {
  text-decoration: none;
  color: var(--primarycolor);
}
#contactme a:hover {
  color: var(--primarycolor);
}

/* Footer section */
footer {
  color: var(--primarycolor);
  background-color: var(--secondarycolor);
  padding: 4rem 0;
}
#content {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
footer h2 {
  font-family: var(--secondaryfont);
  font-size: 160%;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem, 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer li {
  font-size: 200%;
}
footer p {
  font-size: 80%;
  color: var(--primarycolor);
}
.abouttext {
  color: var(--primarycolor);
}
.aboutlink {
  color: var(--accentcolor2);
}
.aboutlink:hover {
  color: var(--primarycolor);
}

/* .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  background: #fff;
  padding: 1rem 3rem;
  border-radius: 0 0 1rem 1rem;
  margin-inline: auto;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid var(--radio-color, currentColor);
  border-radius: 50%;

}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
